*{
    margin: 0;
    padding: 0;
}

.menulateral{
    display: flex;
    width: 15vw;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.menulist{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-around;
    list-style: none;
}